Workflows


Node.js:

npm install -g gulp
npm install -g browserify

npm init

Ruby:

gem update

gem install sass

gem install compass



git remote add origin https://github.com/MCTaylor17/Workflows.git
git push -u origin master

git add .
git status
git commit -m "commit message"


npm install --save-dev gulp
npm install --save-dev gulp-util

npm install --save-dev gulp-coffee


